@charset "UTF-8";
body {
  font-size: 32px; }

/*Шапка*/
.top_header {
  min-height: 0.022vw;
  background-color: #181e2a;
  line-height: 40px;
  padding: 0 77px 0 83px; }

.contacts_top {
  display: block;
  min-width: 210px;
  float: left; }
  .contacts_top .phone,
  .contacts_top .email {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 0.49em;
    color: #f7f7fb; }
  .contacts_top .phone {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 61px; }
  .contacts_top .email {
    display: block;
    float: left;
    word-spacing: 1px;
    margin-top: 2px;
    margin-right: 61px; }
  .contacts_top .phone:before,
  .contacts_top .email:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url("../img/Phone-top.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .contacts_top .phone:before {
    width: 19px;
    height: 21px;
    top: 6px;
    right: 10px; }
  .contacts_top .email:before {
    height: 22px;
    right: 18px;
    top: 8px;
    width: 22px;
    background-image: url("../img/Post-top.png");
    width: 22px; }

.social_top {
  display: block;
  float: right;
  padding-top: 1px;
  max-height: 44px; }
  .social_top .instagram,
  .social_top .facebook {
    display: inline-block;
    line-height: 44px;
    width: 20px;
    height: 20px;
    background-image: url("../img/Instagram-top.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    outline: none; }
  .social_top .facebook {
    margin-left: 8px;
    background-image: url("../img/Facebook-top.png"); }

.top_section {
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/11_1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 56vw; }
  .top_section .wrapper {
    float: right; }

.logo {
  display: block;
  position: relative;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 207px;
  height: 54px;
  margin-top: 46px;
  margin-left: 70px;
  float: left;
  outline: none; }

.call {
  display: block;
  position: absolute;
  background-image: url("../img/Phone-call-button.png");
  background-repeat: no-repeat;
  width: 145px;
  height: 145px;
  top: 65vh;
  right: 38px; }

.top_nav {
  margin-top: 40px; }
  .top_nav ul,
  .top_nav li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .top_nav li {
    display: inline-block;
    letter-spacing: 0.3px;
    word-spacing: 4px; }
    .top_nav li a {
      font-size: 26px;
      font-family: "Proxima Nova Regular", sans-serif;
      color: #f7f7fb;
      outline: none; }
    .top_nav li a:hover {
      color: #830909; }
  .top_nav li:nth-child(1) {
    margin-right: 52px; }
  .top_nav li:nth-child(2) {
    margin-right: 53px; }
  .top_nav li:nth-child(3) {
    margin-right: 49px; }
  .top_nav li:nth-child(4) {
    margin-right: 77px; }
  .top_nav li.active a {
    color: #830909; }

.callback {
  float: right;
  position: relative;
  margin-right: 75px;
  margin-top: 39px;
  background-color: #26bb26;
  width: 300px;
  height: 46px;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 26px;
  color: #fcfafa;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  letter-spacing: 0.3px; }
  .callback span:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    right: 14px;
    background-image: url("../img/Phone-top.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }

.ratio {
  width: 100%; }

.ratio-inner {
  position: relative;
  height: 0;
  border: none; }

.ratio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee; }

.ratio-4-3 {
  padding-top: 75%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 660px) {
  /**/ }

@media only screen and (max-width: 648px) {
  /**/ }

@media only screen and (max-width: 630px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 405px) {
  /**/ }

@media only screen and (max-width: 365px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/*# sourceMappingURL=my.css.map */
